@font-face{font-family:'po';src:url(pot.ttf);src:url(pot.ttf?#iefix) format('embedded-opentype'),url(pot.ttf) format('woff'),url(pot.ttf) format('truetype'),}
#cooli{height:800px;width:100%;background-color:dodgerblue;top:0px;}
#cooli h1{padding-top:80px;font-size:50px;color:white;width:100%;WIDTH:100VW;text-align:center;}
#cooli #description{font-size:30px;color:white;width:100%;WIDTH:100VW;text-align:center;}
body{margin:0;font-family:'po','century gothic',arial;max-width:100%}
@media screen and (max-height:450px){.sidenav{padding-top:10px}
.sidenav a{font-size:18px}}
@media only screen and (max-width:380px){#infob h3{line-height:110%}#ytp,#ztp{padding-left:10px}}
@font-face{font-family:'po';src:url(pot.ttf);src:url(pot.ttf?#iefix) format('embedded-opentype'),url(pot.ttf) format('woff'),url(pot.ttf) format('truetype'),}


#menuincluded{height:0;top:0;overflow:visible;position:fixed}

#ytp,#ztp{opacity:0;height:100px;width:100px;visibility:hidden;padding-top:40px;transition:visibility 2s,opacity 2s,padding-top 2s;transition-timing-function:ease-in;-webkit-transition:visibility 2s,opacity 2s,padding-top 2s;-webkit-transition-timing-function:ease-in;padding-left:20px}

body{margin:0;font-family:'po','century gothic',arial;max-width:100%}

@media screen and (max-height:450px){
	#coolintro{background-size:100% 100%;height:130%}
	.sidenav{padding-top:10px}
	.sidenav a{font-size:18px}}
@media only screen and (max-width:380px){#infob h3{line-height:110%}
	#ytp,#ztp{padding-left:10px}}

#infbox{background:#00E573;padding:150px 0px;width:100%;}
#infbox h3{float:right;right:0;text-align:right;color:white;width:50%;line-height:200%;}
